{% extends 'base.html.twig' %}

{% block title 'Tous nos bien' %}

{% block body %}
    <div class="container py-4">
        <h1 class="display-5 fw-bold">Voir tous nos biens</h1>
    </div>
{% endblock %}